<div class="card">
  <div class="card-body">
    <mat-card>
      <div class="container">

        <div>
          <form [formGroup]="dateInputForm">
            <input type="date" formControlName="requiredDate" max="{{currentDate | date:'yyyy-MM-dd'}}"  (change)="sortDate()" />
          </form>
        </div>
        <div class="wrap">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="search for department " [(ngModel)]="searchTerm"  (ngModelChange)="Onsearch()" />
            <button type="submit" class="searchButton">
              <!-- <i class="fa fa-search"></i> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
    <br />
    <mat-card>
      <div class="container">
        <table class="table table-striped border mt-1">
          <thead>
            <tr style="text-align:center">
              <th scope="col" (click)="sort('dept')">Department  &nbsp;<img src="../../assets/filter-sort.jpg" width="10px" height="10px"></th>
              <th scope="col" (click)="sort('timegenerated')">Date  &nbsp;<img src="../../assets/filter-sort.jpg" width="10px" height="10px"></th>
              <th scope="col" (click)="sort('workingHourss')">Working-hours  &nbsp;<img src="../../assets/filter-sort.jpg" width="10px" height="10px"></th>
              <th scope="col" (click)="sort('userCount')">User-count  &nbsp;<img src="../../assets/filter-sort.jpg" width="10px" height="10px"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let deptBaseRecord of filteredAzureDeptRecordsOfdata | paginate: config | orderBy : key :reverse" >
              <td class="text-center align-middle">{{ deptBaseRecord.dept }}</td>
              <td class="text-center align-middle">{{ deptBaseRecord.timegenerated | date: "mediumDate" }}</td>
              <td class="text-center align-middle">{{ deptBaseRecord.workingHourss }}</td>
              <td class="text-center align-middle">{{ deptBaseRecord.userCount }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </mat-card>
  </div>
</div>

<!-- <input type="date" id="start" 
       value=todayDate 
      > -->
